REPO_URL=https://github.com/immortalwrt/immortalwrt
REPO_BRANCH=openwrt-24.10
CONFIG_FILE=config.txt
FIRMWARE_MESSAGE=ImmortalWrt 24.10.4 x86 with TurboACC
CUSTOM_SH=diy.sh
CACHE_BUILD=true
SSH_ACTIONS=false
UPLOAD_FIRMWARE=true
UPLOAD_QCOW2=true
UPLOAD_VHDX=true
UPLOAD_VMDK=true
UPLOAD_IPK=true
UPLOAD_CONFIG=true
UPLOAD_RELEASE=true
WECHAT_WORK_PUSH=false
TELEGRAM_BOT=false
